
.comment-preview{
    display: flex;
    width: 100%;
    justify-content: space-between;

    full-user-name{
        display: inline-block;
    }
    
    .commented-user{
        font-weight: 600;
        font-size: rem(14px); 
        padding-right: 0.3rem;
    }
    .liked{
        display: inline-block;
        .comment-like{
            cursor: pointer;
            padding-left: 5px;
            width: 20px;
        }
    }
}