.posti-preview {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1.1px solid rgb(231, 231, 231);
    border-radius: 2px;
    max-width: 640px;
    width: 640px;

    .creator-container{
        margin: 0.7rem 15px 0.7rem 0.7rem;
        display: flex;
        justify-content: space-between;
        .user-details{
          align-items: center;
          display: flex;
          .creator-img {
              width: 48px;
              height: 48px;
              border-radius: 50%;
              margin-right: 0.5rem;
          }
          .name{
            font-weight: 600;
            font-size: rem(14px);
            color:rgb(38, 38, 38);
          }
        }

        .actions{
          padding:0;
          margin: 0;
          cursor: pointer;
          display: flex;
          align-items: center;
        }
    }

    @include for-mobile-layout {
      margin: 0;
    }

    .post-img {
        margin-bottom: 0.2rem;
    }
    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 7px 11px 7px 15px;

        .like-posti {
            width: 25px;
            margin-right: 15px;
        }
        .all-comments {
            width: 25px;
        }

        .save-posti {
            width: 27px;
        }
        .like-and-comment, .save-posti-container {
          display: flex;
          justify-content: center;
        }
    }

    .comment-like {
        width: 13px;
    }

    .likes-num {
        margin: 0 15px 7px 15px;
        cursor: pointer;
        font-weight: 600;
        font-size: rem(14px);
    }

    .add-comment-container{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        border-top: 1.1px solid #e7e7e7; 

        .wrapper{
          .regular-input{
            color:rgb(38, 38, 38);
            font-weight: 400;
            font-size:14px;
            line-height: 13px;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
          }
        }
        .post{
            color:rgb(60, 128, 218);
            font-weight: 400;
            font-size:14px;
            background-color: white;
            border: none;
            margin-right:15px;
            margin-left: auto;
            cursor: pointer;

            &:disabled{  /* & is father */
                color: rgb(60, 128, 218);
                opacity: 0.3;
                cursor:inherit;
            }
        }
        .icon-txt{
            width: 20px;
            margin-right: 5px;
        }
    }



    .duration{
        color:rgb(142, 142, 142);
        font-size: 10px;
        font-weight: 400;
        margin: 0.6rem 0 0.6rem 15px;
    }

    .wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
      }
      
      .regular-input {
        padding: 1.2rem 0rem 0rem 2.4rem;
        border-radius: 3px;
        border: 1px solid #ccc;
        width: 100%;
        height: 3rem;
        outline: none;
        border:none;
        overflow-y: hidden;

        &::placeholder {
          color: #b1c6d0;  
        }
      }
      
      .emoji-invoker { //smiley icon
        position: absolute;
        top: 0.9rem;
        left: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s;
      }
      .emoji-invoker:hover {
        transform: scale(1.1);
      }
      .emoji-invoker > svg {
        fill: #b1c6d0;
      }
      
      .emoji-picker {
        position: absolute;
        z-index: 1;
        font-family: Montserrat;
        border: 1px solid #ccc;
        width: 15rem;
        height: 20rem;
        overflow: scroll;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 0.5rem;
        background: #fff;
        box-shadow: 1px 1px 8px #c7dbe6;
      }
      .emoji-picker__search {
        display: flex;
      }
      .emoji-picker__search > input {
        flex: 1;
        border-radius: 10rem;
        border: 1px solid #ccc;
        padding: 0.5rem 1rem;
        outline: none;
      }
      .emoji-picker h5 {
        margin-bottom: 0;
        color: #b1b1b1;
        text-transform: uppercase;
        font-size: 0.8rem;
        cursor: default;
      }
      .emoji-picker .emojis {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .emoji-picker .emojis:after {
        content: "";
        flex: auto;
      }
      .emoji-picker .emojis span {
        padding: 0.2rem;
        cursor: pointer;
        border-radius: 5px;
      }
      .emoji-picker .emojis span:hover {
        background: #ececec;
        cursor: pointer;
      }
}
