.posti-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    form > * {
        margin-bottom: 20px;
    }

    .el-dialog {
        border-radius: 15px;
        max-width: 50%;
        @include for-mobile-layout {
            max-width: 320px;
        }

        .el-dialog__header {
            border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
            padding: 10px;
            color: rgb(38, 38, 38);
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

            .el-dialog__title {
                color: rgb(38, 38, 38);
                height: 40px;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
            }

            .el-dialog__headerbtn {
                font-size: 30px;
                top: 8px;
                @include for-mobile-layout {
                    font-size: 25px;
                    right: 6px;
                }

                .el-dialog__close {
                    color: rgb(38, 38, 38);
                }
            }

            .el_dialog__close {
                color: rgb(144, 147, 153);
                font-size: 16px;
                font-weight: 400;
                width: 80px;
                height: 80px;
            }
        }
        .el-dialog__body {
            background-color:rgb(250, 250, 250);
            border-radius: 15px;

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .description {
                    display: block;
                    width: 100%;
                    resize: none;
                    flex-grow: 1;
                    font-weight: 600;
                    font-size: rem(14px);
                    color: rgb(38, 38, 38);
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                    border: 1.1px solid rgb(231, 231, 231);
                }

                .tags-picker {
                    display: flex;
                    height: 30px;
                    background-color: white;
                    flex-grow: 1;
                }
                el-select__input{
                    color:rgb(38, 38, 38);
                }

                .el-upload-dragger {
                    width: 396px;
                }

                .el-button {
                    display: block;
                    margin-bottom: 2px;
                    padding: 7px 10px 0 10px;
                    align-self: center;
                    font-weight: 200;
                }

                .input-file{
                    max-width: 85px;
                    color: rgb(250, 250, 250);
                }
                .input-lable{
                    display: inline;
                    font-size: 13px;
                }
            }
        }
    }
}
